.ComedyMoviesTitle {
  color: #fff;
}

.ComedyMovies img {
  width: 251px;
  height: 251px;
  border-radius: 12px;
  border-width: 1px;
}

a.movieCard {
  width: 251px;
  height: 251px;
  left: 1059px;
  border-radius: 12px;
  border-width: 1px;
}

.ComedyMovies {
  display: grid;
  grid-template-columns: repeat(24, 300px);
  overflow-x: auto;
  /* Enable scrolling */
  gap: 14px;
  padding: 16px 47px;
  margin-bottom: 50px;
  scroll-behavior: smooth;
  animation: scroll;
  animation-timing-function: cubic-bezier(0.37, 0.56, 1, 0.62);
  animation-duration: 1s;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 60px;
  /* Smooth scrolling for mobile */
}

/* Custom Scrollbar */
.ComedyMovies::-webkit-scrollbar {
  height: 8px;
  /* Thin scrollbar */
}

.ComedyMovies::-webkit-scrollbar-track {
  background: #f89706;
  /* Light transparent background */
  border-radius: 10px;
}

.ComedyMovies::-webkit-scrollbar-thumb {
  background: #f89706;
  /* Semi-transparent thumb */
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

.ComedyMovies:hover::-webkit-scrollbar-thumb {
  background: #fff;
  /* Becomes more visible on hover */
}

/* Firefox scrollbar */
.ComedyMovies {
  scrollbar-width: none;
  scrollbar-color: #f89706 rgba(255, 255, 255, 0.1);
  transition: 0.6s ease-in;
}

.ComedyMovies:hover {
  scrollbar-width: thin;
}

@keyframes scroll {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}