.latestMovie {
  display: grid;
  grid-template-columns: repeat(24, 300px);
  overflow-x: auto;
  height: 350px;
  /* Enable scrolling */
  gap: 32px;
  padding: 16px 47px;
  scroll-behavior: smooth;
  animation: scroll;
  animation-timing-function: cubic-bezier(0.37, 0.56, 1, 0.62);
  animation-duration: 1s;
  position: relative;
  bottom: -330%;
  margin-top: -170px;
  /* Smooth scrolling for mobile */
}

.latestHeading {
  padding: 16px 40px;
  z-index: 100;
}

.latestMovie img {
  position: absolute;
  margin-left: -58px;
}

/* Custom Scrollbar */
.latestMovie::-webkit-scrollbar {
  height: 8px;
  /* Thin scrollbar */
}

.latestMovie img {
  width: 138px;
  height: 178px;
  border-radius: 12px;
  border-width: 1px;
}

.latestMovie::-webkit-scrollbar-track {
  background: #f89706;
  /* Light transparent background */
  border-radius: 10px;
}

.latestMovie::-webkit-scrollbar-thumb {
  background: #f89706;
  /* Semi-transparent thumb */
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

.latestMovie:hover::-webkit-scrollbar-thumb {
  background: #fff;
  /* Becomes more visible on hover */
}

/* Firefox scrollbar */
.latestMovie {
  scrollbar-width: none;
  scrollbar-color: #f89706 rgba(255, 255, 255, 0.1);
  transition: 0.6s ease-in;
}

.numbers {
  width: 250px;
  height: 298px;
  left: 281px;
  font-family: SF Compact;
  font-weight: 1000;
  font-size: 250px;
  line-height: 298.34px;
  letter-spacing: 0%;
  text-align: center;
  color: #fff;
}

.latestMovie:hover {
  scrollbar-width: thin;
}

@keyframes scroll {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}